
body{
  background-image : url("bgimg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
.box{
  margin-top: 50px;
  border-style: groove;
  background-color: #090924;
  margin-left: 560px;
  margin-right: 560px;
  text-align: center;
  border-radius: 30px;
}
.App{
  border-style: solid;
  border-color: black;
  min-height:500px;
  width: 400px;
  margin: 40px auto;
  border-radius: 15px;
}

#heading{
  margin: 1px;
  font-family: cursive;
  font-size: 40px;
  text-align: center;
  color:#33C208;
}
#to-do-form input{
  background-color: #0ECFE8;
  border: 0; 
  color:#152AB3;
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
#to-do-form input::placeholder{
  color: #152AB3;
  /* color: rgba(255,255,255,0.5); */
}
#to-do-form input:focus{
  outline: none;
}
#to-do-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color:#E01D1D; 
  cursor: pointer;
  color:#fff;
}
#to-do-form button:focus{
  outline: none;
}